@tailwind base;
@tailwind components;
@tailwind utilities;

:root, body {
  padding: 0;
  margin: 0;
  background-color: rgb(0, 0, 0);
}

@media (background-color) {
  :root {
    padding: 0;
    margin: 0;
  }
}

.flexBetween {
  @apply flex flex-col md:flex-row h-32 md:h-16 w-full justify-between items-center p-4;
}

main {
  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
}

div {
  padding: .25rem;
  margin: .25rem;
}

h1 {
  // margin: .25em;
  padding: .25em;
}